@using WebShopLib.Models;
@model IEnumerable<WebShopLib.Models.Employee>
@inject WebShopLib.Models.ApplicationDbContext _context
@{
    ViewData["Title"] = "Hub";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string guid = Context.Request.Cookies["guid"];
    var user = _context.Employees.Where(x => x.Guid == guid).FirstOrDefault();
}

<h1>Hub</h1>

@*1 Admin, 2 manager, 3 mitarbeiter*@

@if (user != null && user.Role == 1 || user.Role == 2)
{
    <a asp-action="NewEmployee" asp-controller="Employee" class="btn btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
            New Employee
        </svg>
    </a>
}
@if (TempData.ContainsKey("AdminFlag"))
{
    <h3 class="alert_danger" style="color: red">@TempData["AdminFlag"]</h3>
}



<table class="table">
    <thead>
        @{



            if (user != null && user.Role == 1)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BusinessEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivateEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivatePhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsLocked)
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            }
            else if (user != null && user.Role == 2)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BusinessEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivatePhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivateEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsLocked)
                    </th>
                </tr>
            }
            else if (user != null && user.Role == 3)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BusinessEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                </tr>
            }
        }
    </thead>
    <tbody>
        @{
            if (user != null && user.Role == 1)
            {
                foreach (var item in Model)
                {
                    var role = "";
                    if (item.Role == 1)
                    {
                        role = "Admin";
                    }
                    else if (item.Role == 2)
                    {
                        role = "Manager";
                    }
                    else
                    {
                        role = "Employee";
                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusinessEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrivateEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrivatePhone)
                        </td>
                        <td>
                            @Html.Raw(role)
                        </td>
                        <td>
                            @Html.ActionLink((item.IsActive ? "Active": "Inactive"),"ChangeActive","Employee",new{userId = user.Id,id = item.Id})
                        </td>
                        <td>
                            <a asp-action="ChangeLocked" asp-controller="Employee" asp-route-id="@item.Id">
                                @{
                                    if (item.IsLocked == true)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                                        </svg>
                                    }
                                    else if (item.IsLocked == false)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                                            <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                                        </svg>
                                    }
                                }
                            </a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="Employee" asp-route-id="@item.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            }
            else if (user != null && user.Role == 2)
            {
                foreach (var item in Model)
                {
                    @if (item.IsActive)
                    {



                        var role = "";
                        if (item.Role == 1)
                        {
                            role = "Admin";
                        }
                        else if (item.Role == 2)
                        {
                            role = "Manager";
                        }
                        else
                        {
                            role = "Employee";
                        }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessEmail)
                            </td>
                            <td>
                                @Html.Raw(role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrivatePhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrivateEmail)
                            </td>
                            <td>
                                @if (item.IsActive == true)
                                {
                                    @Html.Raw("Active")
                                }
                            </td>
                            <td>
                                @Html.Raw(item.IsLocked ? "Locked" : "Not Locked")
                            </td>
                        </tr>
                    }
                }
            }
            else if (user != null && user.Role == 3)
            {
                foreach (var item in Model)
                {
                    @if (item.IsActive)
                    {
                        var role = "";
                        if (item.Role == 1)
                        {
                            role = "Admin";
                        }
                        else if (item.Role == 2)
                        {
                            role = "Manager";
                        }
                        else
                        {
                            role = "Employee";
                        }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusinessEmail)
                            </td>
                            <td>
                                @Html.Raw(role)
                            </td>
                            <td>
                                @if (item.IsActive)
                                {
                                    @Html.Raw(item.IsActive)
                                }

                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Employee" asp-route-id="@item.Id">
                                    Details
                                </a>
                            </td>
                        </tr>
                    }
                }
            }
        }


    </tbody>
</table>







