@using AP14_AKT___Backoffice.ViewModels;
@using WebShopLib.Models;
@model IEnumerable<WebShopLib.Models.Genre>
@inject WebShopLib.Models.ApplicationDbContext _context

@{
    ViewData["Title"] = "GenreList";
    var currentUser = _context.Employees.Where(x => x.Guid == Context.Request.Cookies["guid"]).FirstOrDefault();
}

<h1>GenreList</h1>

<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
            <table>
                <tr>
                    <td>
                        <a asp-action="NewProductGenre" asp-controller="Product" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>
                            Genre
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <table class="table" style="word-break:break-all;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Number of Products
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Products.Count)
                    </td>
                    <td>
                        @{
                            string selected = "";

                            if (item.IsActive == true)
                            {
                                selected = "Active";

                                if (currentUser.Role == 3)
                                {
                                    @Html.Raw(item.IsActive)
                                }
                            }
                            if (item.IsActive == false)
                            {
                                selected = "Inactive";

                                if (currentUser.Role == 3)
                                {
                                    @Html.Raw(item.IsActive)
                                }
                            }
                        }

                        @if (currentUser.Role < 3)
                        {
                            <a href="/Product/ChangeStatusGen?userId=@currentUser.Id&itemId=@item.Id&status=@selected">@(((bool)item.IsActive ? "Active" : "Inactive"))</a>
                        }
                        </td>

                        <td>
                                @if (currentUser.Role == 1 && item.Products.Count == 0)
                                {
                                <a href="/Product/DeleteGen?userId=@currentUser.Id&itemId=@item.Id">Delete</a>
                                }
                        </td>
                    </tr>
                        }
            </tbody>
        </table>
    </div>
